
   /* MOBILE  */
@media screen and (max-width: 480px) {
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Jost', sans-serif;
        font-weight: 400;
    }

    .header {
        background-color: #e9e9e9;
        width: 100%;
        position: fixed;
        margin: 0;
        padding: 0;
        z-index: 1;
    }

    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #e9e9e9;
    }
    
    .header ul a {
        width: 100%;
        display: block;
        padding: 19px;
        text-decoration: none;
        color:black ;
    }

    .header ul a:hover {
        background-color: #9e9e9e;
    }

    .mfw {
        float: left;
        font-size: 20px;
        padding:  14.5px;
        font-weight: 700;
    }

    .header .menu {
        clear: both;
        max-height: 0;
        transition: max-height .4s ease-out;
    }

    .header .menu-icon {
        padding: 28px 20px;
        position: relative;
        float: right;
        cursor: pointer;
    }

    .header .menu-icon .nav-icon {
        background-color: rgb(0, 0, 0);
        display: block;
        width: 18px;
        height: 2px;
        position: relative;
        transition: background-color 0.3s ease-out;
    }

    .header .menu-icon .nav-icon::before,
    .header .menu-icon .nav-icon::after {
        background-color: rgb(0, 0, 0);
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all .3s ease-out;
    }
    .header .menu-icon .nav-icon::after {
        top: 5px;
    }
    .header .menu-icon .nav-icon::before {
        top: -5px;
    }

    .header .menu-btn {
        display: none;
    }

    .header .menu-btn:checked ~ .menu  {
        max-height: 240px;
    }

    .header .menu-btn:checked ~ .menu-icon .nav-icon {
        background-color: transparent;
    }
    .header .menu-btn:checked ~ .menu-icon .nav-icon::after {
        transform: rotate(-45deg);
        top: 0;
    }
    .header .menu-btn:checked ~ .menu-icon .nav-icon::before {
        transform: rotate(45deg);
        top: 0;

    }
} 

   /* TABLET */

@media screen and (min-width: 481px) and (max-width: 768px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Jost', sans-serif;
            font-weight: 400;
    }
}


   /* DESKTOP */

@media screen and (min-width:769px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Jost', sans-serif;
        color: white;
    }

    body {
        background-color: black;
    }

    .menu-btn {
        display: none;
    }

    .mfw {
        position: absolute;
        left: 30px;
        top: 16px;
        font-weight: 700;
        font-size: 34px;

    }

    .menu {
        padding: 20px;
        left: -45px;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .menu li {
        margin: 0 15px;
        list-style-type: none;
        font-size: 23px;
    }

    .menu li a {
        text-decoration: none;
        padding: 0 40px;
    }

    .menu li a:hover {
        color: #CFA55B;
        transition: 0.4s;
    }

    #contact-me-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 25px;
        color: black;
        background: #CFA55B;
        box-shadow: inset -3px -3px 8px rgba(0, 0, 0, 0.37);
        border-radius: 146px;
    }

    #contact-me-btn:hover {
        background: #f2c068
    }

    .section-1 {
        position: relative;
        width: 322px;
        left: 23%;
        top: 358px;
    }
    

    .section-1 p {
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 38px;
    }

    .section-1 h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 60px;
        line-height: 87px;
    }

    .section-1 img {
        position: absolute;
        width: 57.11px;
        height: 63.6px;
        top: 293px;
        left: 113px;
        animation: pres-trsimg 2s ease-in-out infinite;
    }

    @keyframes pres-trsimg {
        0% {
            transform: translatey(0px);
        }
        50% {
            transform: translatey(-15px);
        }
        100% {
            transform: translatey(0px);
        }
        }

        .training {
            position: absolute;
            top: 983px;
        }

        .training h1 {
            position: relative;
            left: 61px;
        }

    }