@media only screen and (min-width:429px) and (max-width:1349px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Jost', sans-serif;
        color: white;
        font-size: 23px;
      }
      
      body {
        background-color: #0B0312;
      }

      .up-btn {
        position: fixed;
        right: 3%;
        bottom: 3%;
      }

      .menu-btn {
        display: none;
      }
      .mfw {
        position: absolute;
        left: 30px;
        top: 16px;
        font-weight: 700;
        font-size: 34px;
      }
      .header .menu {
        padding: 20px;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .header .menu li {
        margin: 0 15px;
        list-style-type: none;
        font-size: 23px;
      }
      .header .menu li a {
        text-decoration: none;
        padding: 0 40px;
      }
      .header .menu li a:hover {
        color: #eec681;
        transition: 0.4s;
      }
      #contact-me-btn {
        display: flex;
        align-items: center;
        padding: 4px 25px;
        color: black;
        background: #CFA55B;
        box-shadow: inset -3px -3px 8px rgba(0, 0, 0, 0.37);
        border-radius: 146px;
      }
      #contact-me-btn:hover {
        background: #eec681;
      }
















      
}
