@media only screen and (max-width: 428px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost';
    font-size: 16px;
    color: white;
  }
  body {
    background-color: #0B0312;
  }

  h1 {
    font-size: 22px;
  }
  .header {
    background: #CFA55B;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    
  }
  .header ul a {
    width: 100%;
    display: block;
    padding: 19px;
    text-decoration: none;
    color: black;
  }
  .header ul a:hover {
    background-color: #9e9e9e;
  }
  .mfw {
    float: left;
    font-size: 20px;
    padding: 14.5px;
    font-weight: 700;
    color: #000000;
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.15));
  }
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .4s ease-out;
    text-align: center;
    background: #CFA55B;
    box-shadow: 0px 1px 15px rgba(207, 165, 91, 0.45);
  }

  .header .menu li {
    margin: 0 auto;
    width: 350px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  
  .header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
  }
  .header .menu-icon .nav-icon {
    background-color: black;
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.35));
    display: block;
    width: 18px;
    height: 2px;
    position: relative;    transition: background-color 0.3s ease-out;
  }
  .header .menu-icon .nav-icon::before,
  .header .menu-icon .nav-icon::after {
    background-color: black;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .3s ease-out;
  }
  .header .menu-icon .nav-icon::after {
    top: 5px;
  }
  .header .menu-icon .nav-icon::before {
    top: -5px;
  }
  .header .menu-btn {
    display: none;
  }
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  .header .menu-btn:checked ~ .menu-icon .nav-icon {
    background-color: transparent;
  }
  .header .menu-btn:checked ~ .menu-icon .nav-icon::after {    transform: rotate(-45deg);
    top: 0;
  }
  .header .menu-btn:checked ~ .menu-icon .nav-icon::before {    transform: rotate(45deg);
    top: 0;
  }

  #contact-me-btn {
    font-weight: 700;
  }

  .pres-section {
    margin: 240px 0 0 50%;
    transform: translateX(-50%);
    top: 170px;
    width: 171px;
  }

  .pres-section img {
    width: 38px;
    margin: 20px 33%;
    animation: pres-trsimg 2s ease-in-out infinite;
  }

  @keyframes pres-trsimg {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-15px);
    }
    100% {
      transform: translatey(0px);
    }
  }


  /* TRAINING SECTION */

  .training {
    margin-top: 400px;
  }
  .training h1 {
    margin-left: 6%;
  }
  .training p {
    margin: 18px 8%;
  }
  .gdi {
    margin-top: 55px;
  }

  /* --------timeline-------- */
  .training-timeline {
    margin: 100px 40% 0 20%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    max-width: 750px;
  }
  .timeline__component-left {
    margin: -7px 20px 150px 0;
    max-width: 200px;
  }

  .timeline__component-right {
    margin: -7px 0 150px 20px;
    
  }

  /* .timeline__component--bottom {
    margin: -7px 20px 100px 20px;
  } */

  .timeline__date {
    width: 151px;
    text-align: right;
    font-weight: 50;
  }
  .timeline__middle {
    position: relative;
    background-color: #CFA55B;
  }
  .timeline__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #CFA55B;
    box-shadow: 0px 7px 9px #000000;
    border-radius: 20px;
  }
  .timeline__point--bottom1,
  .timeline__point--bottom2,
  .timeline__point--bottom3 {
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    background: #CFA55B;
    box-shadow: 0px 7px 9px #000000;
    border-radius: 20px;
  }
  .timeline__point--bottom1 {
    top: 290px;
  }
  .timeline__point--bottom2 {
    top: 325px;
  }
  .timeline__point--bottom3 {
    top: 360px;
  }



  /* SKILLS */
  .skills {
    margin-top: 400px;
  }
  .skills h1 {
    margin-left: 6%;
  }
  .skills p {
    margin: 18px 8%;
  }
  .skills-icon-group-mbl {
    display: flex;
    justify-content: center;
    margin-top: 90px;
  }
  .skills-icon-group-dsk{
    display: none;
  }
  

  
 /* ABOUT */
  .about {
    margin-top: 100px;
  }
  .about h1 {
    text-align: center;
  }
  .about p {
    margin: 50px 8%;
    text-align: center;
  }


  /* CONTACT ME */
  .contact-me {
    margin-top: 30px;
  }
  .contact-me h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 115px;
    color: #000000;
    background: rgb(207, 165, 91);
    box-shadow: inset 0px 0px 20px 8px rgba(0, 0, 0, 0.31);
  }
  .contact-me p {
    margin: 80px 0 auto;
    text-align: center;
    padding: 0 8%;
  }
  .contact-me b {color: #CFA55B;}
  .contact-me p a {text-decoration: none;}
  .contact-me b:hover {color:#eec681;}

  .social-icon {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

   .social-icon img {
     width: 30px;
     margin: 20px;
   }

}



