@media only screen and (min-width: 1350px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    color: white;
    font-size: 23px;
  }
  
  body {
    background-color: #0B0312;
  }
  .page-padding {
    padding: 8%;
  }
  .up-btn {
    position: fixed;
    right: 3%;
    bottom: 3%;
  }
  /* HOMEPAGE SECTION */

  .homepage {
    width: 100%;
    height: 922px;
  }

  .menu-btn {
    display: none;
  }
  .mfw {
    position: absolute;
    left: 30px;
    top: 16px;
    font-weight: 700;
    font-size: 34px;
  }
  .header .menu {
    padding: 20px 40px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .header .menu li {
    margin: 0 20px;
    list-style-type: none;
    font-size: 23px;
  }
  .header .menu li a {
    text-decoration: none;
    padding: 0 40px;
  }
  .header .menu li a:hover {
    color: #eec681;
    transition: 0.4s;
  }
  #contact-me-btn {
    display: flex;
    align-items: center;
    padding: 4px 25px;
    color: black;
    background: #CFA55B;
    box-shadow: inset -3px -3px 8px rgba(0, 0, 0, 0.37);
    border-radius: 146px;
  }
  #contact-me-btn:hover {
    background: #eec681;
  }

  .pres-section {
    margin: 240px 0 0 23%;
    width: 322px;
    height: 350px;
  }

  .pres-section p {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
  }
  .pres-section h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 87px;
  }
  .pres-section img {
    width: 57.11px;
    height: 63.6px;
    margin: 15% 0 0 33%;
    animation: pres-trsimg 2s ease-in-out infinite;
  }


  @keyframes pres-trsimg {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-15px);
    }
    100% {
      transform: translatey(0px);
    }
  }


  /* TRAINING SECTION */

  .training {
    margin-top: 600px;
  }
  .training h1 {
    margin-left: 6%;
  }
  .training p {
    margin: 18px 8%;
  }
  

  .gdi {
    margin-top: 55px;
  }

  /* --------timeline-------- */
  .training-timeline {
    margin: 100px 0 0 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    max-width: 750px;
  }
  .timeline__component-left {
    margin: -10px 0 200px 20%;
    max-width: 200px;
  }

  .timeline__component-right {
    margin: -10px 30% 200px 60px;
    width: 350px;
  }

  .timeline__component--bottom {
    margin: -10px 30px 50px 60px;
  }

  .timeline__date {
    width: 151px;
    text-align: right;
    font-weight: 50;
  }
  .timeline__middle {
    position: relative;
    background-color: #CFA55B;
  }
  .timeline__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: #CFA55B;
    box-shadow: 0px 7px 9px #000000;
    border-radius: 20px;
  }
  .timeline__point--bottom1,
  .timeline__point--bottom2,
  .timeline__point--bottom3 {
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background: #CFA55B;
    box-shadow: 0px 7px 9px #000000;
    border-radius: 20px;
  }
  .timeline__point--bottom1 {
    top: 145px;
  }
  .timeline__point--bottom2 {
    top: 185px;
  }
  .timeline__point--bottom3 {
    top: 225px;
  }



  /* SKILLS */
  .skills {
    margin-top: 400px;
  }
  .skills h1 {
    margin-left: 6%;
  }
  .skills p {
    margin: 18px 8%;
  }
  .skills-icon-group-dsk {
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }
  .skills-icon-group-mbl{
    display: none;
  }
  

  
 /* ABOUT */
  .about {
    margin-top: 200px;
  }
  .about h1 {
    text-align: center;
  }
  .about p {
    margin: 18px 8%;
    text-align: center;
  }


  /* CONTACT ME */
  .contact-me {
    margin-top: 30px;
  }
  .contact-me h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 115px;
    color: #000000;
    background: rgb(207, 165, 91);
    box-shadow: inset 0px 0px 20px 8px rgba(0, 0, 0, 0.31);
  }
  .contact-me p {
    margin: 80px 0 auto;
    text-align: center;
    padding: 0 8%;
  }
  .contact-me b {color: #CFA55B;}
  .contact-me p a {text-decoration: none;}
  .contact-me b:hover {color:#eec681;}

  .social-icon {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

  }
   .social-icon a {
     margin: 90px 2% 2% 2%;
   }

}



